
*.ipch
*.opendb
*.db-wal
*.db
.vs/webserver/v16/.suo
.vs/webserver/v16/.suo
*.db
.vs/webserver/v16/.suo
.vs/webserver/v16/.suo
.vs/webserver/v16/Browse.VC.db
.vs/webserver/v16/Browse.VC.db
*.db
.vs/webserver/v16/Browse.VC.db
